{% extends 'modelo.html' %}

{% block title %}
MyTasks
{% endblock %}

{% block nav_bar %}
    <li><a href="{{url_for('dash')}}" class="btn btn-dark">Início</a></li>
    <li><a href="{{url_for('newtask')}}" class="btn btn-outline-secondary">Nova Task</a></li>
    <li><a href="{{url_for('logout')}}" class="btn btn-outline-secondary">Logout</a></li>
{% endblock %}

{% block conteudo %}

<div class="forms" id='busca'>
    <h2>Busque por suas tarefas</h2> 
    <form method="post" action="{{url_for('dash')}}" id="bu-form">
        <div id="bu-infos">
            <div class="bu-selects">
                <div id="nt-status">
                    <label for="nt-status-box">Selecione o status:</label>
                    <select name="status" id="nt-status" class="form-select">
                        <option value="" disabled selected >Status</option>
                        <option value="Concluída">Concluída</option> <!-- tlvz seja necessário tirar o acento do value -->
                        <option value="Fazendo">Fazendo</option>
                        <option value="Pendente">Pendente</option>
                    </select>
                </div>
                <div id="nt-prioridade">
                    <label for="nt-prioridade-box">Selecione a prioridade:</label>
                    <select name="prioridade" id="nt-prioridade"  class="form-select">
                        <option value="" disabled selected >Prioridade</option>
                        <option value="Alta">Alta</option>
                        <option value="Média">Média</option> <!--  tlvz seja necessário tirar o acento do value -->
                        <option value="Baixa">Baixa</option>
                    </select>
                </div>
                <div id="nt-categoria">
                    <label for="nt-categoria-box">Selecione a categoria:</label>
                    <select name="categoria" id="nt-categoria"  class="form-select">
                        <option value="" disabled selected >Categoria</option>
                        <option value="1">Trabalho</option>
                        <option value="2">Estudo</option>
                        <option value="3">Pessoal</option>
                    </select>
                </div>
            </div>
            
            <div class="bu-datas">
                <div id="nt-data-criacao" class="col-md-6"> <!-- id que nao existe no css -->
                    <label for="data-criacao">Data de criação:</label>
                    <input type="date" name="data-criacao" id="data-criacao">
                </div>
                
    
                <div id="nt-data-limite" class="col-md-6">
                    <label for="data-limite">Data Limite:</label>
                    <input type="date" name="data-limite" id="data-limite">
                </div>
            </div>

            <div class="bu-busca">
                <button type="submit" class="btn btn-light" id="filtrar">Buscar </button>
            </div>
        </div>
    </form>
</div>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="tarefas-dash">
        <ul>
            {% if tarefas %}
                {%for tarefa in tarefas%}
                <li id="lista-tarefas">
                    <div class="card" style="max-width: 18rem;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">{{tarefa['tar_titulo']}}</h5>
                          <p class="card-text">{{tarefa['tar_descricao']}}</p>
                        </div>
                        <div class="card-header">
                            <ul>
                                <li>Status: {{tarefa['tar_status']}} </li>
                                <li>Categoria: {{tarefa['cat_categoria']}}</li>
                                <li>Prioridade: {{tarefa['tar_prioridade']}}</li>
                                <li>Criação: {{tarefa['tar_data']}}</li>
                                <li>Vencimento: {{tarefa['tar_data_limite']}}</li>
                                <li><a href="{{ url_for('edit_task', task_id=tarefa['tar_id']) }}">editar</a></li>
                                <li>
                                    <form action="{{ url_for('delete_task', task_id=tarefa['tar_id']) }}" method="POST">
                                        <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {%endfor%}
            {% else %}
                <h2>não há tarefas que se encaixem nesse filtro</h2>
            {% endif %}
        </ul>
    </div>
{% endblock %}
