{% extends 'modelo.html' %}

{% block title %}
    Nova Tarefa
{% endblock %}

{% block nav_bar %}
    <li><a href="{{url_for('dash')}}" class="btn btn-outline-secondary">Início</a></li>
    <li><a href="{{url_for('newtask')}}" class="btn btn-dark">Nova Tarefa</a></li>
    <li><a href="{{url_for('login')}}" class="btn btn-outline-secondary">Logout</a></li>
{% endblock %}

{% block conteudo %}
    <div class="forms">
        <h1>Crie uma nova tarefa!</h1>
        <form class="form-dados" method="post" action="{{url_for('register')}}">
            <div id = 'nt-titulo'>
                
            </div>

            <button type="submit" class="btn btn-dark">Cadastrar</button>
      </form>
      {% with avisos = get_flashed_messages() %}
      {% if avisos %}
          <ul class="avisos">
          {% for aviso in avisos %}
              <li class="avisos-lista">{{ aviso|safe }}</li>
          {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    </div>
{% endblock %}